.rojo{
	background-color: rgb(158, 35, 35) !important;
}

.verde{
	background-color: rgb(23, 113, 23) !important;
}

.amarillo{
	background-color: rgb(142, 142, 18) !important;
}

.azul{
	background-color: rgb(23, 23, 126) !important;
}